// GLOBAL VARS
$white_color: #fff !default;
$info_color: #0096c7 !default;
$warning_color: #ff6700 !default;
$success_color: #66bf3c !default;
$danger_color: #ff9494 !default;
$input_radius: 5px !default;
$element_radius: 5px !default;
$input_padding: 10px;
$menu_item_padding: 5px;
$element_padding: 5px;
$margin_5: 5px;
$default_transition: all 0.3s;

// LIGHT VARS
$shadow_light: 0px 4px 15px 0px rgba(39, 39, 39, 0.2) !default;
$body_light: $white_color !default;
$font_color_light: #272727 !default;
$primary_color: #023e8a !default;
$secondary_color: #0077b6 !default;

// DARK VARS
$shadow_dark: 0px 4px 15px 0px rgba(34, 34, 59, 0.5) !default;
$body_dark: #22223b !default;
$font_color_dark: $white_color !default;
$primary_dark_color: #1d3557 !default;
$secondary_dark_color: #457b9d !default;

// GRAY SCALES
$gray_100: #f8f9fa;
$gray_200: #e9ecef;
$gray_300: #dee2e6;
$gray_400: #ced4da;
$gray_500: #adb5bd;
$gray_600: #6c757d;
$gray_700: #495057;
$gray_800: #343a40;
$gray_900: #212529;
$secondary_element_gray: #f8fcff;
$disabled_button: #ebebeb;

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	background-color: transparent;
	width: 6px;
}

*::-webkit-scrollbar-thumb {
	background-color: $primary_color;
	border-radius: 50px;
}

// GLOBAL STYLES
body,
body.dark {
	font-family: 'Nunito', sans-serif;
}

body {
	background-color: $body_light;
	transition: $default_transition;
}

body.dark {
	background-color: $body_dark;
	transition: $default_transition;
}

// FORM STYLES
.oxyui__form__vertical {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.oxyui__form__horizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

//BUTTON STYLES
.oxyui__button,
.oxyui__iconButton {
	padding: $input_padding;
	border-radius: $input_radius;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
    justify-content: center;
	gap: 5px;
	transition: $default_transition;
	&:disabled {
		background-color: $disabled_button;
		cursor: not-allowed;
	}
}
.oxyui__button_icon_right_true {
	flex-direction: row-reverse;
}

.oxyui__button__light__primary,
.oxyui__fab__light__primary,
.oxyui__menubutton__light__primary,
.oxyui__iconButton__light__primary {
	background-color: $primary_color;
	color: $white_color;
	&:hover:not(:disabled) {
		background-color: lighten($color: $primary_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		background-color: darken($color: $primary_color, $amount: 5%);
	}
}
.oxyui__button__dark__primary,
.oxyui__fab__dark__primary,
.oxyui__menubutton__dark__primary,
.oxyui__iconButton__dark__primary {
	background-color: $primary_dark_color;
	color: $white_color;
	&:hover:not(:disabled) {
		background-color: lighten($color: $primary_dark_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		background-color: darken($color: $primary_dark_color, $amount: 5%);
	}
}
.oxyui__button__light__secondary,
.oxyui__fab__light__secondary,
.oxyui__menubutton__light__secondary,
.oxyui__iconButton__light__secondary {
	background-color: $secondary_color;
	color: $white_color;
	&:hover:not(:disabled) {
		background-color: lighten($color: $secondary_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		background-color: darken($color: $secondary_color, $amount: 5%);
	}
}
.oxyui__button__dark__secondary,
.oxyui__fab__dark__secondary,
.oxyui__menubutton__dark__secondary,
.oxyui__iconButton__dark__secondary {
	background-color: $secondary_dark_color;
	color: $white_color;
	&:hover:not(:disabled) {
		background-color: lighten($color: $secondary_dark_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		background-color: darken($color: $secondary_dark_color, $amount: 5%);
	}
}
.oxyui__button__light__outlined,
.oxyui__iconButton__light__outlined {
	border: 2px solid $primary_color;
	background-color: transparent;
	color: $primary_color;
	&:hover:not(:disabled) {
		border-color: lighten($color: $primary_color, $amount: 20%);
		color: lighten($color: $primary_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		border-color: darken($color: $primary_color, $amount: 5%);
		color: darken($color: $primary_color, $amount: 5%);
	}
}
.oxyui__button__dark__outlined,
.oxyui__iconButton__dark__outlined {
	border: 2px solid $primary_dark_color;
	background-color: transparent;
	color: $primary_dark_color;
	&:hover:not(:disabled) {
		border-color: lighten($color: $primary_dark_color, $amount: 20%);
		color: lighten($color: $primary_dark_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		border-color: darken($color: $primary_dark_color, $amount: 5%);
		color: darken($color: $primary_dark_color, $amount: 5%);
	}
}
.oxyui__button__light__link,
.oxyui__iconButton__light__link {
	background-color: transparent;
	color: $primary_color;
	text-decoration: underline;
	&:hover:not(:disabled) {
		color: lighten($color: $primary_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		color: darken($color: $primary_color, $amount: 5%);
	}
}
.oxyui__button__dark__link,
.oxyui__iconButton__dark__link {
	background-color: transparent;
	color: $primary_dark_color;
	text-decoration: underline;
	&:hover:not(:disabled) {
		color: lighten($color: $primary_dark_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		color: darken($color: $primary_dark_color, $amount: 5%);
	}
}
.oxyui__button__light__info,
.oxyui__button__dark__info,
.oxyui__fab__light__info,
.oxyui__fab__dark__info,
.oxyui__menubutton__light__info,
.oxyui__menubutton__dark__info,
.oxyui__iconButton__light__info,
.oxyui__iconButton__dark__info {
	background-color: $info_color;
	color: $white_color;
	&:hover:not(:disabled) {
		background-color: lighten($color: $info_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		background-color: darken($color: $info_color, $amount: 5%);
	}
}
.oxyui__button__light__success,
.oxyui__button__dark__success,
.oxyui__fab__light__success,
.oxyui__fab__dark__success,
.oxyui__menubutton__light__success,
.oxyui__menubutton__dark__success,
.oxyui__iconButton__light__success,
.oxyui__iconButton__dark__success {
	background-color: $success_color;
	color: $white_color;
	&:hover:not(:disabled) {
		background-color: lighten($color: $success_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		background-color: darken($color: $success_color, $amount: 5%);
	}
}
.oxyui__button__light__warning,
.oxyui__button__dark__warning,
.oxyui__fab__light__warning,
.oxyui__fab__dark__warning,
.oxyui__menubutton__light__warning,
.oxyui__menubutton__dark__warning,
.oxyui__iconButton__light__warning,
.oxyui__iconButton__dark__warning {
	background-color: $warning_color;
	color: $white_color;
	&:hover:not(:disabled) {
		background-color: lighten($color: $warning_color, $amount: 20%);
	}
	&:active:not(:disabled) {
		background-color: darken($color: $warning_color, $amount: 5%);
	}
}
.oxyui__button__light__danger,
.oxyui__button__dark__danger,
.oxyui__fab__light__danger,
.oxyui__fab__dark__danger,
.oxyui__menubutton__light__danger,
.oxyui__menubutton__dark__danger,
.oxyui__iconButton__light__danger,
.oxyui__iconButton__dark__danger {
	background-color: $danger_color;
	color: $white_color;
	&:hover:not(:disabled) {
		background-color: lighten($color: $danger_color, $amount: 5%);
	}
	&:active:not(:disabled) {
		background-color: darken($color: $danger_color, $amount: 5%);
	}
}
.oxyui__default__button__spinner {
	width: 15px;
	height: 15px;
	border-top: 1px solid $white_color;
	border-left: 1px solid $white_color;
	border-right: 1px solid $white_color;
	border-bottom: 1px solid transparent;
	border-radius: 50%;
}
.oxyui__button__spinner {
	width: max-content;
	height: max-content;
	padding: 0px;
	margin: 0px;
	animation: buttonSpin 1s linear infinite;
	transform-origin: center;
}
@keyframes buttonSpin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.oxyui__button_icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.oxyui__button__custom_spinner {
	width: max-content;
	height: max-content;
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

// BUTTONGROUP STYLES
.oxyui__buttongroup {
	border: 0;
	padding: $input_padding;
	cursor: pointer;
	transition: $default_transition;
	min-width: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.oxyui__buttongroup__inactive {
	background-color: $secondary_element_gray;
	color: $font_color_light;
	&:hover {
		color: $font_color_dark;
	}
}
.oxyui__buttongroup__start {
	border-top-left-radius: $input_radius;
	border-bottom-left-radius: $input_radius;
}
.oxyui__buttongroup__end {
	border-top-right-radius: $input_radius;
	border-bottom-right-radius: $input_radius;
}

.oxyui__buttongroup__icon {
	display: flex;
	align-items: center;
	justify-content: center;
}
.oxyui__buttongroup__content {
	margin-left: 5px;
}

// FAB STYLES
.oxyui__fab {
	border: 0;
	padding: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	cursor: pointer;
	transition: $default_transition;
	&:disabled {
		cursor: not-allowed;
	}
	&:focus {
		outline: none;
	}
}

.oxyui__rollout__fab__wrapper {
	position: absolute;
	width: max-content;
	height: max-content;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.oxyui__single_fab {
	position: absolute;
}

.oxyui__fab__bottomRight {
	bottom: 30px;
	right: 50px;
}

.oxyui__fab__bottomLeft {
	bottom: 30px;
	left: 50px;
}

.oxyui__fab__topRight {
	top: 30px;
	right: 50px;
	flex-direction: column-reverse;
}

.oxyui__fab__topLeft {
	top: 30px;
	left: 50px;
	flex-direction: column-reverse;
}

// MENUBUTTON STYLES
.oxyui__menubutton__wrapper {
	position: relative;
}
.oxyui__menubutton {
	display: flex;
	align-items: center;
}
.oxyui__menubutton__main,
.oxyui__menubutton__secondary {
	display: flex;
	align-items: center;
	border: 0;
	padding: $input_padding;
	cursor: pointer;
	color: #fff;
	transition: $default_transition;
}

.oxyui__menubutton__main {
	border-top-left-radius: $input_radius;
	border-bottom-left-radius: $input_radius;
	display: flex;
	align-items: center;
	gap: 5px;
}

.oxyui__menubutton__secondary {
	border-top-right-radius: $input_radius;
	border-bottom-right-radius: $input_radius;
}

.oxyui__menubutton__items__wrapper {
	position: absolute;
	background-color: $secondary_element_gray;
	top: 45px;
	right: 0px;
	width: max-content;
	border-radius: $input_radius;
	box-shadow: $shadow_light;
	&::before {
		content: '';
		position: absolute;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid transparent;
		border-bottom: 10px solid $secondary_element_gray;
		top: -20px;
		right: 10px;
	}
}

.oxyui__menubutton__item {
	padding: $menu_item_padding;
	cursor: pointer;
	font-size: 14px;
	transition: $default_transition;
	display: flex;
	align-items: center;
	gap: 5px;
	&:hover {
		background-color: darken($secondary_element_gray, 20%);
	}
}

.oxyui__menubutton__item__first {
	border-top-right-radius: $input_radius;
	border-top-left-radius: $input_radius;
}

.oxyui__menubutton__item__last {
	border-bottom-right-radius: $input_radius;
	border-bottom-left-radius: $input_radius;
}

.oxyui__menubutton__item__divider {
	border-bottom: 1px solid $body_dark;
	margin: $margin_5;
}

// ACCORDION STYLES
.oxyui__accordion__panel__collapse {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: $input_padding;
	color: $white_color;
	border-top-right-radius: $input_radius;
	border-top-left-radius: $input_radius;
}

.oxyui__accordion__panel__collapse__light {
	background-color: $primary_color;
}

.oxyui__accordion__panel__collapse__dark {
	background-color: $primary_dark_color;
}

.oxyui__accordion__panel__header {
	padding-left: $input_padding;
	width: 90%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.oxyui__accordion__panel__header__icon {
	display: flex;
	align-items: center;
	transition: $default_transition;
}

.oxyui__accordion__panel__content {
	border-left: 1px solid $disabled_button;
	border-right: 1px solid $disabled_button;
	transition: $default_transition;
	border-bottom-right-radius: $input_radius;
	border-bottom-left-radius: $input_radius;
	border-bottom: 1px solid $disabled_button;
	max-height: 0px;
	overflow: auto;
	margin-bottom: 1px;
    &::-webkit-scrollbar {
        display: none;
    }
}

// AVATAR STYLES
.oxyui__avatar__wrapper {
	position: relative;
	> .oxyui__avatar__badge {
		position: absolute;
		bottom: 0px;
		right: 0px;
		width: 15px;
		height: 15px;
		border-radius: 50px;
		transition: $default_transition;
	}
	> .oxyui__avatar {
		display: flex;
		align-items: center;
		font-weight: bold;
		justify-content: center;
		letter-spacing: 2px;
		transition: $default_transition;

		> .oxyui__avatar__image {
			transition: $default_transition;
			width: 100%;
			height: 100%;
		}
		// shapes
		&.oxyui__avatar__circle {
			border-radius: 50px;
			> .oxyui__avatar__image {
				border-radius: 50px;
			}
		}
		&.oxyui__avatar__rounded {
			border-radius: $element_radius;
			+ .oxyui__avatar__badge {
				right: -5px;
				bottom: -5px;
			}
			> .oxyui__avatar__image {
				border-radius: $element_radius;
			}
		}
		&.oxyui__avatar__square {
			border-radius: 0px;
			+ .oxyui__avatar__badge {
				right: -5px;
				bottom: -5px;
			}
			> .oxyui__avatar__image {
				border-radius: 0px;
			}
		}
		// sizes
		&.oxyui__avatar__sm {
			width: 30px;
			height: 30px;
			font-size: 12px;
			+ .oxyui__avatar__badge {
				width: 10px;
				height: 10px;
			}
			&:not(:has(.oxyui__avatar__circle)) {
				+ .oxyui__avatar__badge {
					bottom: -2px;
					right: -4px;
				}
			}
			&.oxyui__avatar__circle {
				+ .oxyui__avatar__badge {
					bottom: 0px;
					right: -2px;
				}
			}
		}
		&.oxyui__avatar__md {
			width: 40px;
			height: 40px;
			font-size: 14px;
			+ .oxyui__avatar__badge {
				width: 12px;
				height: 12px;
			}
			&:not(:has(.oxyui__avatar__circle)) {
				+ .oxyui__avatar__badge {
					bottom: -2px;
					right: -4px;
				}
			}
			&.oxyui__avatar__circle {
				+ .oxyui__avatar__badge {
					bottom: 0px;
					right: -2px;
				}
			}
		}
		&.oxyui__avatar__lg {
			width: 50px;
			height: 50px;
			font-size: 18px;
		}
		&.oxyui__avatar__xl {
			width: 60px;
			height: 60px;
			font-size: 22px;
			&:has(.oxyui__avatar__circle) + .oxyui__avatar__badge {
				bottom: 2px;
				right: 2px;
			}
		}
	}
}

// BADGE STYLES
.oxyui__badge__wrapper {
	position: relative;

	> .oxyui__badge {
		padding: $element_padding;
		font-size: 9px;
		transition: $default_transition;
		font-weight: bolder;
		display: flex;
		align-items: center;
		justify-content: center;

		> .oxyui__badge__content {
			display: flex;
			align-items: center;
			justify-content: center;
            font-weight: 1000;
			> * {
				display: flex;
			}
		}
		//shapes
		&.oxyui__badge__circle {
			border-radius: 50px;
		}
		&.oxyui__badge__rounded {
			border-radius: $element_radius;
		}
		&.oxyui__badge__square {
			border-radius: none;
		}
		&.oxyui__badge__oval {
			padding: $input_padding;
		}
		// positions
		&.oxyui__badge__topRight {
			top: -10px;
			right: -10px;
		}
		&.oxyui__badge__topLeft {
			top: -10px;
			left: -10px;
		}
		&.oxyui__badge__bottomRight {
			bottom: -5px;
			right: -10px;
		}
		&.oxyui__badge__bottomLeft {
			bottom: -5px;
			left: -10px;
		}
		// variants
		&.oxyui__badge__outlined {
			background-color: transparent;
			border-width: 1px;
			border-style: solid;
		}
	}
}

// BREADCRUMBS STYLES
.oxyui__breadcrumbs__wrapper {
	display: flex;
	align-items: center;
	gap: 5px;
	> .oxyui__breadcrumb__with__separator {
		display: flex;
		align-items: center;
		gap: 5px;
		color: $info_color;
		> .oxyui__breadcrumb {
			display: flex;
			align-items: center;
			gap: 5px;
			font-size: 14px;
			transition: all 0.3s;
			padding: $element_padding;
			&.oxyui__breadcrumb__link {
				cursor: pointer;
				&:hover {
					text-decoration: underline;
				}
			}
			&.oxyui__breadcrumb__active {
				background-color: $primary_color;
				border-radius: $element_radius;
				color: #fff;
				&:hover {
					text-decoration: none;
				}
			}
			> .oxyui__breadcrumb__icon {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		> .oxyui__breadcrumbs__separator {
			display: flex;
			align-items: center;
		}
	}
}

// CALENDAR STYLES
.oxyui__calendar {
	border-radius: $element_radius;
	padding: $element_padding;

	&.oxyui__calendar__light {
		box-shadow: $shadow_light;
	}

	&.oxyui__calendar__dark {
		box-shadow: $shadow_dark;
	}

	> .oxyui__calendar__toolbar {
		padding: $element_padding;
		border-bottom: 1px solid $gray_200;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> .oxyui__calendar__toolbar__month__year {
			display: flex;
			gap: 10px;

			> .oxyui__calendar__toolbar__month__wrapper {
				> .oxyui__calendar__toolbar__month {
					transition: $default_transition;
					border-radius: $element_radius;
					cursor: pointer;
					padding: $element_padding;
					border: 1px solid transparent;
					&:hover {
						border-color: $gray_300;
					}
				}
				> .oxyui__calendar__toolbar__month__picker {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;
					width: 180px;
					position: absolute;
					padding: $element_padding;
					border-radius: $element_radius;
					box-shadow: $shadow_light;
					transition: $default_transition;
					&::before {
						content: '';
						position: absolute;
						border-top: 10px solid transparent;
						border-right: 10px solid transparent;
						border-left: 10px solid transparent;
						top: -20px;
                        left: 10px;
					}
					&.oxyui__calendar__toolbar__month__picker__light {
						background: $secondary_element_gray;
						color: $primary_color;
						&::before {
							border-bottom: 10px solid $secondary_element_gray;
						}
					}
					&.oxyui__calendar__toolbar__month__picker__dark {
						border-bottom: 10px solid $primary_dark_color;
						background: $primary_dark_color;
						color: $font_color_dark;
						&::before {
							border-bottom: 10px solid $primary_dark_color;
						}
					}
					&.oxyui__calendar__toolbar__month__picker__hidden {
						opacity: 0;
						pointer-events: none;
					}
					> .oxyui__calendar__toolbar__month__picker__item {
						padding: $element_padding;
						cursor: pointer;
						border: 1px solid transparent;
						transition: $default_transition;
						border-radius: $element_radius;
						width: 50px;
						text-align: center;
						&:hover {
							border-color: $gray_300;
						}
						&.oxyui__calendar__toolbar__month__picker__item__active {
							background-color: $primary_color;
							color: $white_color;
						}
					}
				}
			}
			> .oxyui__calendar__toolbar__year__wrapper {
				> .oxyui__calendar__toolbar__year {
					transition: $default_transition;
					border-radius: $element_radius;
					cursor: pointer;
					padding: $element_padding;
					border: 1px solid transparent;
					&:hover {
						border-color: $gray_300;
					}
				}
				> .oxyui__calendar__toolbar__year__picker {
					display: flex;
					gap: 10px;
					width: 255px;
					position: absolute;
					border-radius: $element_radius;
					box-shadow: $shadow_light;
					transition: $default_transition;
					&::before {
						content: '';
						position: absolute;
						border-top: 10px solid transparent;
						border-right: 10px solid transparent;
						border-left: 10px solid transparent;
						top: -20px;
                        left: 10px;
					}
					&.oxyui__calendar__toolbar__year__picker__light {
						background: $secondary_element_gray;
						color: $primary_color;
						&::before {
							border-bottom: 10px solid $secondary_element_gray;
						}
					}
					&.oxyui__calendar__toolbar__year__picker__dark {
						border-bottom: 10px solid $primary_dark_color;
						background: $primary_dark_color;
						color: $font_color_dark;
						&::before {
							border-bottom: 10px solid $primary_dark_color;
						}
					}
					&.oxyui__calendar__toolbar__year__picker__hidden {
						opacity: 0;
						pointer-events: none;
					}
					> .oxyui__calendar__toolbar__year__picker__items {
						height: 180px;
						width: 240px;
						padding: $element_padding;
						> .oxyui__calendar__toolbar__year__picker__decade {
							position: absolute;
							width: 180px;
							display: flex;
							flex-wrap: wrap;
							gap: 10px;
							transition: $default_transition;
							&.oxyui__calendar__toolbar__year__picker__decade__hidden {
								opacity: 0;
								pointer-events: none;
								&.oxyui__calendar__toolbar__year__picker__decade__hidden__next {
									transform: translateX(-50px);
								}
								&.oxyui__calendar__toolbar__year__picker__decade__hidden__prev {
									transform: translateX(50px);
								}
							}

							> .oxyui__calendar__toolbar__year__picker__item {
								padding: $element_padding;
								cursor: pointer;
								border: 1px solid transparent;
								transition: $default_transition;
								border-radius: $element_radius;
								width: 50px;
								text-align: center;
								&:hover {
									border-color: $gray_300;
								}
								&.oxyui__calendar__toolbar__year__picker__item__active {
									background-color: $primary_color;
									color: $white_color;
								}
							}
						}
					}
					> .oxyui__calendar__toolbar__year__picker__prev,
					.oxyui__calendar__toolbar__year__picker__next {
						display: flex;
						align-items: center;
						cursor: pointer;
						justify-content: center;
						width: 40px;
						transition: $default_transition;
						&:hover {
							background-color: $gray_200;
						}
					}
					> .oxyui__calendar__toolbar__year__picker__prev {
						border-top-left-radius: $element_radius;
						border-bottom-left-radius: $element_radius;
					}
					> .oxyui__calendar__toolbar__year__picker__next {
						border-top-right-radius: $element_radius;
						border-bottom-right-radius: $element_radius;
					}
				}
			}
			> .oxyui__calendar__toolbar__week__picker {
				display: flex;
				gap: 10px;
				align-items: center;
			}
		}
	}

	> .oxyui__calendar__weekly {
		display: flex;
		height: calc(100% - 50px);
		> .oxyui__calendar__weekly__hours {
			padding: 30px $element_padding $element_padding $element_padding;
			border-right: 1px solid $gray_200;
			overflow: auto;
			height: 100%;
			width: 60px;
			> .oxyui__calendar__weekly__hour {
				height: calc(100% / 24);
				display: flex;
				align-items: center;
				font-size: 10px;
			}
		}
		> .oxyui__calendar__weekly__days {
			padding: $element_padding;
			display: flex;
			width: calc(100% - 60px);
			height: 100%;
			> .oxyui__calendar__weekly__day {
				width: calc(100% / 7);
				height: 100%;
				text-align: center;
				font-size: 13px;
				> .oxyui__calendar__weekly__day__header {
					border-bottom: 1px solid $gray_200;
				}
				&:not(&:last-child) {
					border-right: 1px solid $gray_200;
				}
				> .oxyui__calendar__weekly__day__events {
					height: calc(100% - 20px);
					> .oxyui__calendar__weekly__day__event {
						height: calc(100% / 24);
						border-bottom: 1px solid $gray_200;
						> .oxyui__calendar__weekly__day__event__bubble {
							border-radius: $element_radius;
							font-size: 10px;
							cursor: pointer;
							z-index: 2;
							position: relative;
							box-shadow: $shadow_light;
							display: flex;
							gap: 10px;
							padding: 0px $element_padding;
							justify-content: space-between;
							> .oxyui__calendar__weekly__day__event__bubble__name {
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}

	> .oxyui__calendar__monthly {
		width: 100%;
		height: calc(100% - 60px);
		> .oxyui__calendar__monthly__days {
			display: flex;
			align-items: center;
			padding: $element_padding;
			width: 100%;
			height: 100%;
			> .oxyui__calendar__monthly__day {
				width: calc(100% / 7);
				height: 100%;
				&:not(:last-child) {
					border-right: 1px solid $gray_200;
				}
				> .oxyui__calendar__monthly__day__header {
					width: 100%;
					text-align: center;
					border-bottom: 1px solid $gray_200;
				}
				> .oxyui__calendar__monthly__day__events {
					height: 100%;
					> .oxyui__calendar__monthly__day__event {
						height: calc(100% / 5);
						border-bottom: 1px solid $gray_200;
						overflow-y: scroll;
						> .oxyui__calendar__monthly__day__event__day {
							padding: $element_padding;
						}
						> .oxyui__calendar__monthly__day__event__bubble {
							font-size: 10px;
							width: max-content;
							padding: 2px;
							border-radius: $element_radius;
							cursor: pointer;

							> .oxyui__calendar__monthly__day__event__bubble__details {
								display: flex;
								align-items: center;
								justify-content: space-between;
								> .oxyui__calendar__monthly__day__event__bubble__details__icon {
									display: flex;
									align-items: center;
								}
							}
						}
					}
				}
			}
		}
	}
}



// CARD STYLES
.oxyui__card {
    border: 1px solid $gray_200;
    border-radius: $element_radius;
    cursor: pointer;
    position: relative;
    transition: $default_transition;
    &:hover {
        >.oxyui__card_title__with__image {
            background-color: transparentize($color: $gray_700, $amount: .3);
        }
        >.oxyui__card__image__wrapper {
            >.oxyui__card__image {
                transform: scale(1);
            }
            >.oxyui__card__image__shader {
                transform: scale(1);
                background-color: transparent;
            }
        }
        &.oxyui__card__hover {
            transform: scale(1.02);
            &.oxyui__card__light {
                box-shadow: $shadow_light
            }
            &.oxyui__card__dark {
                box-shadow: $shadow_dark
            }
        }
    }
    &.oxyui__card__light {
        background-color: $body_light;
        color: $font_color_light;
    }

    &.oxyui__card__dark {
        background-color: lighten($color: $body_dark, $amount: 5%);
        color: $font_color_dark;
    }
    
    >.oxyui__card_title {
        color: $gray_900;
        padding: $element_padding $element_padding $element_padding calc($element_padding + 5px);
        display: flex;
        align-items: center;
        border-top-right-radius: $element_radius;
        border-top-left-radius: $element_radius;
        transition: $default_transition;
        position: relative;
        z-index: 5;
        font-size: 18px;
        font-weight: bold;
    }
    >.oxyui__card_title__with__image {
        color: $white_color;
        position: absolute;
        width: 100%;
    }
    >.oxyui__card__image__wrapper {
        width: 100%;
        height: calc(100% / 2);
        border-top-right-radius: $element_radius;
        border-top-left-radius: $element_radius;
        >.oxyui__card__image__shader {
            background-color: $gray_800;
            opacity: .5;
            width: 100%;
            height: 100%;
            border-top-right-radius: $element_radius;
            border-top-left-radius: $element_radius;
            transition: $default_transition;
            transform: scale(0.98);
        }
        >.oxyui__card__image {
            width: 100%;
            height: calc(100% / 2);
            position: absolute;
            border-top-right-radius: $element_radius;
            border-top-left-radius: $element_radius;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            transform: scale(0.98);
            transition: $default_transition;
        }
    }
    >.oxyui__card_description {
        padding: $element_padding;
        font-size: 14px;
        text-align: justify;
    }
    >.oxyui__card__actions {
        padding: $element_padding;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }
}


// CARD CAROUSEL STYLES
.oxyui__cardCarousel {
    display: flex;
    align-items: center;
    gap: 10px;
    >.oxyui__cardCarousel__cards__wrapper {
        display: flex;
        align-items: center;
        >.oxyui__cardCarousel__card {
            &.oxyui__cardCarousel__card__active__toRight, &.oxyui__cardCarousel__card__active__toLeft {
                z-index: 5;
            }
            &.oxyui__cardCarousel__card__active__toRight {
                animation: cardActiveRight .3s linear forwards;
            }
            &.oxyui__cardCarousel__card__active__toLeft {
                animation: cardActiveLeft .3s linear forwards;
            }
            &.oxyui__cardCarousel__card__inactive__toRight, &.oxyui__cardCarousel__card__inactive__toLeft {
                pointer-events: none;
                opacity: .7;
            }
            &.oxyui__cardCarousel__card__inactive__toRight {
                animation: cardInactiveRight .3s linear forwards;
            }
            &.oxyui__cardCarousel__card__inactive__toLeft{
                animation: cardInactiveLeft .3s linear forwards;
            }
        }
    }
    @keyframes cardActiveRight {
        from {
            opacity: .7;
            transform: translateX(-20px);
        }
        to {
            opacity: 1;
            transform: translateX(0px) scale(1.1);
        }
    }
    @keyframes cardActiveLeft {
        from {
            opacity: .7;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0px) scale(1.1);
        }
    }
    @keyframes cardInactiveRight {
        0% {
            opacity: 0;
            transform: translateX(-20px) scale(.9);
        }
        25% {
            opacity: .2;
            transform: translateX(-15px) scale(.9);
        }
        50% {
            opacity: .3;
            transform: translateX(-10px) scale(.9);
        }
        75% {
            opacity: .5;
            transform: translateX(-5px) scale(.9);
        }
        100% {
            opacity: .7;
            transform: translateX(0px) scale(.9);
        }
    }
    
    @keyframes cardInactiveLeft {
        0% {
            opacity: 0;
            transform: translateX(20px) scale(.9);
        }
        25% {
            opacity: .2;
            transform: translateX(15px) scale(.9);
        }
        50% {
            opacity: .3;
            transform: translateX(10px) scale(.9);
        }
        75% {
            opacity: .5;
            transform: translateX(5px) scale(.9);
        }
        100% {
            opacity: .7;
            transform: translateX(0px) scale(.9);
        }
    }
}



// CART STYLES
.oxyui__cart {
    position: relative;
    width: max-content;
    >.oxyui__cart__popup {
        transition: all .2s;
        border-radius: $element_radius;
        position: absolute;
        right: 0px;
        top: 40px;
        z-index: 10;
        width: 350px;
        overflow: auto;
        transform-origin: 350px 0px;
        height: 440px;

        >.oxyui__cart__popup__header {
            text-align: center;
            padding: 5px;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
        }
        >.oxyui__cart__popup__items__wrapper {
            height: 350px;
            width: 100%;
            overflow: auto;
            padding: 5px;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &.oxyui__cart__popup__visible {
            transform: scale(1);
            opacity: 1;
        }
        &.oxyui__cart__popup__invisible {
            opacity: 0;
            transform: scale(0);
        }
        &.oxyui__cart__popup__light {
            background: $secondary_element_gray;
            box-shadow: $shadow_light;
            color: $primary_color;
            &::before {
                border-bottom: 10px solid $secondary_element_gray;
            }
        }
        &.oxyui__cart__popup__dark {
            border-bottom: 10px solid $primary_dark_color;
            background: $primary_dark_color;
            box-shadow: $shadow_dark;
            color: $font_color_dark;
            &::before {
                border-bottom: 10px solid $primary_dark_color;
            }
        }
        >.oxyui__cart__popup__items__wrapper {
            >.oxyui__cart__item__wrapper {
                transform: scale(0);
                transform-origin: center;
                animation: scaleIn .2s linear forwards;
                @keyframes scaleIn {
                    from {
                        transform: scale(0);
                    }
                    to {
                        transform: scale(1);
                    }
                }
            }
        }
        >.oxyui__cart__popup__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            >.oxyui__cart_popup__footer__total {
                display: flex;
                align-items: center;
                gap: 5px;
                font-weight: 1000;
            }
        }
    }
    
}



// COLORPICKER STYLES

.oxyui__inputs__colorpicker {
    
    >.oxyui__inputs__colorpicker__value {

        &.oxyui__inputs__colorpicker__value__circle {

        }
        &.oxyui__inputs__colorpicker__value__rounded {
            
        }
        &.oxyui__inputs__colorpicker__value__square {
            
        }
    }

    >.oxyui__inputs__colorpicker__popup {

        //&.oxyui__inputs__colorpicker__popup__light {

        //}
        //&.oxyui__inputs__colorpicker__popup__dark {
            
        //}
        //&.oxyui__inputs__colorpicker__popup__visible {
            
        //}
        //&.oxyui__inputs__colorpicker__popup__invisible {
            
        //}

        >.oxyui__inputs__colorpicker__swatch__wrapper {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            
            >.oxyui__inputs__colorpicker__swatch {
                cursor: pointer;
                transition: $default_transition;
                &:hover {
                    transform: scale(1.1);
                }
                &.oxyui__inputs__colorpicker__swatch__light {
                    box-shadow: $shadow_light;
                }
                &.oxyui__inputs__colorpicker__swatch__dark {
                    box-shadow: $shadow_dark;
                }
                
                &.oxyui__inputs__colorpicker__swatch__circle {
                    border-radius: 50px;
                }
                &.oxyui__inputs__colorpicker__swatch__rounded {
                    border-radius: $element_radius;
                }
                &.oxyui__inputs__colorpicker__swatch__square {
                    border-radius: 0;
                }    
            }
        }
    }
}